@model MVC_Task2.Models.VMs.FileVM2



<h2>Upload Files2 (Using Data Annotations)</h2>
<h4>Files will be uploaded to wwwroot/files2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFiles2" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="" />
                <span asp-validation-for='Files' class='text-danger'></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Files" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section scripts{
<partial name="_ValidationScriptsPartial" />
}